* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Rubik', sans-serif;
	background-image: url(../images/Infinity_castle_ok.jpg);
	background-attachment: fixed;
	background-size: cover;


}

header {
	padding-top: 2%;
	padding-right: 7%;
	padding-bottom: 2%;
	padding-left: 7%;
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient(to right, #613412, #B76729, #68340E);
}

nav ul {
	margin-top: 3%;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	font-size: 1.2rem;
	padding-right: 2rem;
	text-transform: uppercase;
}

nav ul li a:hover {
	text-decoration: underline;
	font-weight: 800;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.icon {
	display: none;
}

section {
	max-width: 1300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}

.principal {
	width: 100%;
	height: 900px;
	display: flex;
	justify-content: center;
	align-items: start;
	color: white;
}

@media (max-width: 800px) {
	.principal {
		background-size: contain;
	}
}

form {
	display: block;
	max-width: auto;
	width: 100%;

}

form label {
	margin-bottom: 5px;
	margin: auto;
	color: white;
}

form input {
	width: 100%;
}

#CuerpoMensaje {
	min-height: 400px;
	text-align: left;
	padding-left: 0;
	vertical-align: top;
}


button {
	margin-right: 10px;
}

.principal div {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 5%;
}

.principal div img {
	width: 100%;
	height: auto;


}

.secundario {
	margin-top: 0%;
	display: flex;

}

.secundario div {
	width: 33%;
	padding: 2%;
	text-align: center;
	align-items: start;



}

.secundario div a img {
	width: 100%;
	margin-bottom: 2rem;
}

h4 {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: white;
	background-color: rgba(0, 0, 0, 0.664);
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	border-top: 4px solid #FFA500;
	color: white;
}


footer img {
	max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
}


/******************************************/

/*********************************menu con subniveles*********************************/
.submenu {
	position: absolute; 
	top: 18px ;
	display: none;
	list-style: none;
	width:200px;
	background-color: rgba(0, 0, 0, 0.664);
}

.menu li:hover .submenu {
	display: block;
}

.submenu li:hover {
	background-color: rgba(0, 0, 0, 0.664);
}

.submenu li a {
	display: block;
	padding: 15px 15px 15px 20px;
	text-decoration: none;
}




/*********************************menu con subniveles*********************************/

.etiqueta {
	background-color: rgba(0, 0, 0, 0.664);
	display:inline-block;
	height: 20px;
	font-size: 1.2em;
}


button {
	border-width: 5px;
	width: 15%;
	height: 50px;
	margin: 15px;


}

#botonera {
	width: 90%;
	margin: 15px;
	justify-self: center;
}

span {
    color: white; 
    text-decoration: underline; 
	font-weight: bold;
	font-style: oblique;
}

.personajes {
	display: flex;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.664);
	color: white;
	margin-top: 5%;
	
}

h3 {
	text-align: center;
	margin: 5px;
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

h3:hover {
	color: #d42222;
	font-size: 1.3em;
	cursor: pointer;
	transition: all 0.5s;
}




.imagendiv {
	max-width: 50%;
	
}

.descripcion {
	flex-wrap: wrap;
	margin: 5%;
	max-width: 35%;
	font-size: 1.2em;
}




.ache1 {
	display: none;

}

.parrafocentral {
	color: white;

	margin: 20px;
	text-align: center;
	font-size: 2em;
	background-color: rgba(0, 0, 0, 0.664);
}





.DentroFooter {
	display: inline-block;
}

.FotoGaleria {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.FotoGaleria a {
	flex: 0 0 calc(33.33% - 2rem);
	padding: 1rem;
	text-align: center;
}

.FotoGaleria img {
	width: 100%;
	margin-bottom: 2rem;
}

.ache2 {
	color: white;
	text-align: center;
	font-size: 2.5em;
	margin: 2%;
	background-color: rgba(0, 0, 0, 0.664);
}


/******************************************/

@media (max-width: 480px) {

	nav ul {
		display: none;
	}

	nav.responsive ul {
		display: block;
	}

	nav.responsive ul li {
		display: block;
		text-align: center;
		padding: 0.5rem;
	}

	nav.responsive ul li a {
		padding-right: 0;
	}

	
	/**********************************aca***********************************/
	.item {
		display: none;	

	}

	
	.menu {
		background-image: linear-gradient(to right, #613412, #B76729, #68340E);
		background-color:rgba(0, 0, 0, 0.664); 
		width: auto;
	}

	.submenu {
		display: none !important; 
		position: absolute;	
		top: 180px;
		left: 305px;
		width: auto;		
		
	}

	
	
	.personajes {

		flex-direction:column;
		
    	
	}

	.descripcion {

	/*	flex-wrap: wrap; */
		margin: 5%;
		max-width: 90%;
		
	}

	.imagendiv {
		max-width: 90%;
		width: 90%;
		margin: 5% auto;
		
	}

	

	/**********************************aca***********************************/

	header {
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		background-color: #ffffff;
		position: sticky;
		top: 0;
		z-index: 1;
		height: 150px;

	}

	header div,
	header a {
		flex: 1 0 50%;
	}

	header nav {
		flex-basis: 100%;
	}

	.icon {
		display: block;
		padding-right: 0.6rem;
		text-align: right;
	}



	#menu_bar {
		margin-top: 2%;




	}


	section {
		max-width: 480px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.principal {
		height: 250px;
		padding: 10%;
	}

	.secundario {
		margin-top: 1%;
		display: block;
	}

	.secundario div {
		margin-right: auto;
		margin-left: auto;
		width: 90%;
	}

	.secundario div a img {
		margin-bottom: 1rem;
	}

	h2 {
		font-size: 1rem;

	}

	h4 {
		font-size: 1rem;
	}

	footer {
		height: 120px;
		justify-content: space-evenly;
	}

	footer img {
		max-width: 3rem;
	}

}
